<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar-Producto</title>
</head>


<!--Completar header-->
<body>
    <!--HEADER-->
    <%- include('./header')%> 

    <div id="columna" class="container products">
        <div class="">
            <div>
                <h2 class="Products-title">Agregar producto</h2>
            </div>

            <!-- Formulario Agregar producto-->
            <form action="/" method="GET">
                <p>
                    <label for="nombreProducto">Nombre del producto:</label>
                    <input type="text" placeholder="Nombre" name="NombreProducto" id="nombreProducto">
                </p>

                <p>
                    <label for="fotoProducto">Foto del producto </label>
                    <input id="file"  type="file" name="FotoProducto" id="FotoProducto">
                    <img src="/public/images/products/autos1.jpeg" alt="">
                </p>

                <p>
                    <label for="Precio">Precio</label>
                    <input type="text" placeholder="Precio" name="Precio" id="Precio">
                </p>
                <p>
                    <button id="button" type="submit" name="editar-perfil" id="editar-perfil">Agregar Producto</button>
                </p>

                <!--Poner foto submit-->
            </form>
        </div>
    
    </div>
    

<!--Completar footer-->
<body>
    <!--FOOTER-->
    <%- include('./footer')%> 

</body>
</html>