<!DOCTYPE html>
<html lang="es">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoTerminado.png" />
	<title> Car O </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">

<body>
	<%-include('./partials/headerDesLogueado')%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
					
				
					<div id="columna" class="container products">
						<div class="">
							<div>
								<h2 class="Titulos"> Inicia sesión en Car O!</h2>
							</div>
							
							<!-- Formulario LogIn-->
							<% if(errors.login!=''){ %>
								<p class="alert" style="color:red;"><%= errors.login %><p>
							<% } %>
							
							<form action="/users/login" method="POST">
								<p>
									<input name="email" id="email" type="text" placeholder="ingrese@email.com" required>
								</p>
								<p>
									<input name="password" id="password" type="password" placeholder="Ingrese Contraseña" >
								</p>
								<p>
									<input type="checkbox" class="bi bi-check-circle-fill" name="rememberme" />
									Recordame
								<p>
				
								<button type="submit" name="login-button">Iniciar Sesion</button>
							</form>
						</div>
				
						<!--<div>
							Poner foto de ilustracion
							<img id="ilustracion-login" src="" alt="Foto de Ilustracion">
						</div>-->
					
					</div>
					

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>