
	<%-include('./partials/headerLogueado')%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
					<div id="columna" class="container products">
						<div class="" style="color:white;">
							<div>
								<h2 class="products-title">Agregar producto</h2>
							</div>
				
							<!-- Formulario Agregar producto-->
							<form action="/productos/agregarProducto" method="POST" enctype="multipart/form-data"> <!--enctype es importante para que funcione multer-->
								<p>
									<label for="marca">Marca:</label> 
									<input name="marca" id="marca" type="text" placeholder="Marca" required>
								</p>

								<p>
									<label for="modelo">Modelo</label> 
									<input name="modelo" id="modelo" type="text" placeholder="Modelo" required >
								</p>
								
								<p>
									<label for="Foto del producto">Foto del producto</label>
									<input id="imagen"  type="file" name="imagen" required>
									
								</p>

								<p>
									<label for="descripcion">Descripcion </label>
									<input name="descripcion" id="descripcion" type="text" placeholder="Descripcion" required >
								</p>
				
								<p>
									<label for="precio">Precio</label>
									<input name="precio" id="Precio" type="text" placeholder="Precio" required>
								</p>

								<p>
									<label for="email">E-mail</label>
									<input name="email" id="email" type="e-mail" placeholder="Correo electronico" required>
								</p>
				
								<p>
									<button id="button" name="editar-perfil" type="submit" >Agregar Producto</button>
								</p>
				
							</form>
						</div>
					
					</div>
					
				
	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->

