
<body>
		 
	<%-include('./partials/headerDeslogueado')%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">  
				
				<!--Completar header-->
					<!--HEADER-->
				
					<div id="columna" class="container products">
						<div class="">
							<div>
								<h2 class="Titulos"> Si no tienes una cuenta, registrate en Car O!</h2>
							</div>

							<!-- Formulario Register-->
							<form class="input-sign" action="/users/registrarUsuario" method="POST">
								<p>
									<input id="nombre" name="nombre" type="text" placeholder="Ingrese nombre" required>
								</p>
								<p>
									<input id="apellido" name="apellido" type="text" placeholder="Ingrese apellido" required >
								</p>
								<p>
									<input id="fehaDeNacimiento" name="fechaDeNacimiento" type="date" placeholder="Ingrese fecha de nacimento" required >
								</p>
								<p>
									<input id="edad" name="edad" type="number" placeholder="Ingrese Edad" required >
								</p>
								<p>
									<input id="email" name="email" type="e-mail" placeholder="Ingrese Email" required >
								</p>
								<p>
									<input id="password" name="password" type="password" placeholder="Ingrese contraseña" required >
								</p>
								<p>
									<input id="password" name="passwordConfirm" type="password" placeholder="Confirme contraseña" required >
								</p>
						        <p>
									<input type="file" name="avatar">
								</p>
								
								<button id="button" type="submit" name="register-button" id="register-button">Registrar</button>
							</form>
						</div>
					
					</div>
					
				
				<!--Completar footer-->
					<!--FOOTER-->
			    <%- include('./partials/footer')%> 