<!DOCTYPE html>
<html lang="es">


<body>
	
	<%-include('./partials/headerDeslogueado')%>

	<%  if (searchResults == undefined) { %>
		<!--<a href="/">   </a>--> <p> No se ha encontrado el resultado que se esta buscando </p>
	<% 	} else {  %> 

	<% } %>
		
	<ul>
		<% for(let i=0; i<resultados.length; i+=1){ %>
			<li>
				 <a href="/productos/searchResults/<% = buscar[i].id %>">
				<%= buscar[i].modelo %>
			</a> 
			</li>
		<% } %>
	</ul>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>